.idea
core
profiles
sites
vendor
modules/contrib/*

composer.lock
PATCHES.txt
LICENSE.txt
.htaccess
cloudapi.acquia.com.pem
README.txt
README.md
web.config
.gitattributes
Makefile
.eslintrc
phpunit.xml
CONTRIBUTING.md
robots.txt
example.gitignore
.csslintrc
composer.json
index.php
update.php
flo.yml
.editorconfig
.gitignore_releases
autoload.php
.eslintignore
version.php
scripts