{#

/**
 * @file
 * Template file for frontend_api_demo module.
 */
#}
<h1>CURRENCY</h1>

{{ dump() }}
{{ dump(list) }}

<div class="frontend_api_demo">
    <h2>{{ title }}</h2>
    <div id="testblock">
        {{ body }}
    </div>
</div>
